.navs.active {
    color: gray;
    background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/520886a2-df00-49da-9960-62cde5154979/dc4h1yn-258c6467-e7e3-490a-b60d-fcbf0b3db774.png/v1/fill/w_909,h_879,strp/widowmaker_s_scope_by_hucklefred_dc4h1yn-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTkxIiwicGF0aCI6IlwvZlwvNTIwODg2YTItZGYwMC00OWRhLTk5NjAtNjJjZGU1MTU0OTc5XC9kYzRoMXluLTI1OGM2NDY3LWU3ZTMtNDkwYS1iNjBkLWZjYmYwYjNkYjc3NC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.3uzGIwAh42ZSGJPf7TkEvDULCuQ_0Bt3nvGegB5wSZ4');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
    .welcome-message {
        color: whitesmoke;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    @keyframes fade {
        0%, 100% {
          opacity: 1
        }
    }
    .header {
        display: none;
    }
    .body-image {
        height: 92%;
    }
    #modal1 {
        height: 60% !important;
    }
    .video-header {
        height: 10%
    }
    .video-body {
        position: relative;
        height: 82%;
    }
    .sidebar-image {
        height: 100%;
    }
    .video-iframe {
        width: 85%;
        height: 65%;
    }
    .video-comment-right {
        position: absolute;
        width: 85%;
        height: 35%;
        right: 0;
        bottom: 0;
    }
    .video-lis-images {
        display: none;
    }
    .video-lis-names {
        font-size: 15px;
    }
    .forum-messageboard-container {
        flex-flow: column nowrap;
    }
    .forum-messageboard-post {
        width: 100%;
        height: 30%;
    }
    .forum-messageboard {
        width: 100%;
        height: 69.5%;
    }
    .forum-post-container {
        height: 60%;
    }
    .forum-post-row {
        height: 41%;
    }
    .forum-messageboard-message {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
    .title {
        position: absolute;
        width: initial;
        height: initial;
        font-size: 40px;
        right: 50%;
        transform: translateX(50%);
        top: 40%;
    }
    .toggle-heroes {
        flex-flow: row wrap;
        height: 35%;
    }
    .body-heroes {
        top: 35%;
        height: 57%;
    }
    .toggle-heroes > .input-field.absolute {
        width: 40%;
    }
    .video-header {
        flex-flow: row wrap;
        height: 25%;
    }
    .video-hero, .youtube-channel-link {
        width: 20%;
        height: 50%;
    }
    .video-body {
        height: 67%;
    }
    .video-comment-right {
        display: none;
    }
    .video-menu-container {
        position: absolute;
        width: 100%;
        height: 40%;
        bottom: 0;
    }
    .video-menu {
        flex-flow: row wrap;
        background: gray;
    }
    .video-menu-ul {
        display: flex;
        flex-flow: row wrap;
    }
    .video-lis {
        width: 25%;
        height: 50%;
    }
    .video-lis-names {
        padding: 0;
        font-size: 10px;
    }
    .video-iframe {
        width: 100%;
        height: 60%;
        left: 0;
        bottom: 25%;
    }
    .disclaimer-image {
        display: none;
    }
    .disclaimer-message {
        width: 100%;
        font-size: 9px;
    }
    .forum-messageboard-post {
        height: 40%;
    }
    .forum-messageboard {
        height: 59.5%;
    }
    .input-field-container {
        width: 69%;
    }
    .forum-messageboard-row {
        height: 35%;
    }
    .xlarge {
        align-items: center;
        width: 30%;
        padding: 0;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    .welcome-message {
        color: whitesmoke;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    @keyframes fade {
        0%, 100% {
          opacity: 1
        }
    }
    .header {
        display: none;
    }
    .welcome {
        margin-top: 20px;
    }
    .body-image {
        height: 92%;
    }
    i.medium {
        font-size: 2rem;
    }
    .toggle-heroes > .btn-large {
        height: 35px;
        line-height: 35px;
        font-size: 10px;
        padding: 0 10px;
    }
    .btn-floating.btn-large {
        width: 35px;
        height: 35px;
        padding: 0;
    }
    .btn-floating.btn-large i {
        line-height: 35px;
    }
    .btn-large i {
        font-size: .8rem;
    }
    .toggle-heroes {
        height: 15%;
    }
    .body-heroes {
        top: 15%;
        height: 77%;
    }
    #overview-search {
        margin-bottom: 10px;
        font-size: 10px;
    }
    .video-lis-names {
        font-size: 8px;
        color: black;
        font-weight: initial;
    }
    #golf-clap {
        padding: 5px;
    }
    .commentary {
        font-size: 10px;
    }
    .disclaimer-image {
        display: none;
    }
    .forum-title-container {
        font-size: 3em;
    }
    .disclaimer-message {
        width: 100%;
        font-size: 10px;
    }
    .forum-post-container {
        height: 75%;
    }
    .forum-post-row {
        height: 26%;
    }
    .forum-messageboard-row {
        height: 35%;
    }
    .forum-messageboard-message {
        font-size: 15px;
    }
    .input-field-container {
        width: 69%;
    }
    .xlarge {
        align-items: center;
        width: 30%;
        padding: 0;
        font-size: 10px;
    }
}